﻿@model University.ViewModels.TeacherIndexData

@{
    ViewBag.Title = "Teachers";
}

<h2>Overview</h2>

<table class="table">
    <tr>
        <th>
            Last name
        </th>
        <th>
            First name
        </th>
        <th>
            Degree
        </th>
        <th>
            Trainee
        </th>
    </tr>

@foreach (var item in Model.Teachers)
{
    string selectedRow = "";
    if (item.ID == ViewBag.InstructorID)
    {
        selectedRow = "success";
    }
    <tr class="@selectedRow">
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Degree)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isTrainee)
        </td>
       <td>

       </td>
        <td>
            <div class="but">
                @Html.ActionLink("Create New", "Create")
            </div>
            <div class="but">
                @Html.ActionLink("Select", "Index", new { id = item.ID })
            </div>
            <div class="but">
                @Html.ActionLink("Edit", "Edit", new { id = item.ID })
            </div>
            <div class="but">
                @Html.ActionLink("Details", "Details", new { id = item.ID })
            </div>
            <div class="but">
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </div>
        </td>
    </tr>
                }

</table>

@if (Model.Subjects != null)
{
    <h3>Subjects Taught by Selected Teacher</h3>
    <table class="table">
        <tr>
            <th>Subject</th>
            <th>Amount of classes</th>
        </tr>

        @foreach (var item in Model.Subjects)
        {
            string selectedRow = "";
            if (item.SubjectID == ViewBag.SubjectID)
            {
                selectedRow = "success";
            }
            <tr class="@selectedRow">
                <td>
                    @Html.ActionLink("Select", "Index", new { subjectID = item.SubjectID })
                </td>
                <td>
                    @item.SubjectName
                </td>
                <td>
                    @item.ClassesAmount
                </td>
                
            </tr>
        }

    </table>
}
