﻿@model IEnumerable<University.Models.Student>

@{
    ViewBag.Title = "Index";
}

<h2>Overview</h2>


<table class="table">
    <tr>
        <th>
            Last name
        </th>
        <th>
            First name
        </th>
        <th>
            Stipend
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isGettingPaid)
        </td>
        <td>
            <div class="but">
                @Html.ActionLink("Create New", "Create")
            </div>
            <div class="but">
                @Html.ActionLink("Edit", "Edit", new { id = item.ID })
            </div>
            <div class="but">
                @Html.ActionLink("Details", "Details", new { id = item.ID })
            </div>
            <div class="but">
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </div>
        </td>
    </tr>
}

</table>
