﻿@model IEnumerable<University.Models.Subject>

@{
    ViewBag.Title = "Index";
}

<h2>Overview</h2>

<table class="table">
    <tr>
        <th>
            Subject
        </th>
        <th>
            Amount of classes
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SubjectName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClassesAmount)
        </td>
        <td>
            <div class="but">
                @Html.ActionLink("Create New", "Create")
            </div>
            <div class="but">
                @Html.ActionLink("Edit", "Edit", new { id = item.SubjectID })
            </div>
            <div class="but">
                @Html.ActionLink("Details", "Details", new { id = item.SubjectID })
            </div>
            <div class="but">
                @Html.ActionLink("Delete", "Delete", new { id = item.SubjectID })
            </div>
        </td>
    </tr>
}

</table>
