﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>University</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="icon" type="image/png" href="/fav.jpg" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("University", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Groups", "Index", "Groups")</li>
                    <li>@Html.ActionLink("Curators", "Index", "Curators")</li>
                    <li>@Html.ActionLink("Students", "Index", "Students")</li>
                    <li>@Html.ActionLink("Subjects", "Index", "Subjects")</li>
                    <li>@Html.ActionLink("Teachers", "Index", "Teachers")</li>
                </ul>
            </div>
        </div>
    </div>
    
        <div class="container body-content">
            @RenderBody()
            <hr />
        </div>

        <footer>
            <div class="container">

                <!-- Copyrights  -->
                <div class="copyright">
                    <img src="img/logo-example.jpg" class="footer_logo">
                    <p>© 2017 copyright joulis1derful - All rights reserved</p>
                </div>

                <div class="footer_links">

                    <!-- Social Media Links  -->
                    <div class="sm columns">
                        <h3 class="columns_title">Stay Tuned</h3>
                        <ul>
                            <li>
                                <a class="facebook" href="#">Facebook</a>
                            </li>
                            <li>
                                <a class="twitter" href="#">Twitter</a>
                            </li>
                            <li>
                                <a class="google" href="#">Google Plus</a>
                            </li>
                        </ul>
                    </div>

                    <!-- About Links  -->
                    <div class="about columns">
                        <h3 class="columns_title">About</h3>
                        <ul>
                            <li>
                                <a href="#">Our University</a>
                            </li>
                            <li>
                                <a href="#">Our history</a>
                            </li>
                            <li>
                                <a href="#">Blog</a>
                            </li>
                        </ul>
                    </div>

                    <!-- Address  -->
                    <div class="address columns">
                        <h3 class="columns_title">Address</h3>
                        <p>Your city, Your country</p>
                        <p class="phone">+38(0xx)00 00 000</p>
                    </div>

                </div>

            </div>

        </footer>


        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
</body>
</html>
