/*
 * Start Bootstrap - Full Slider (http://startbootstrap.com/)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */

html,
body {
    height: 100%;
}

.carousel,
.item,
.active {
    height: 100%;
}

.carousel-inner {
    height: 100%;
	
}

.control-buttons a:hover {
	background-color:red;
	transition:all .2s linear;
    -o-transition:all .2s linear;
    -moz-transition:all .2s linear;
    -webkit-transition:all .2s linear;
}

.nav li:hover {
	background-color:red;
	transition:all .2s linear;
    -o-transition:all .2s linear;
    -moz-transition:all .2s linear;
    -webkit-transition:all .2s linear;
}

.carousel-caption:hover {
	color: blue;
}


/* Background images are set within the HTML using inline CSS, not here */

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}


footer{
    padding: 20px;
}

footer .copyright{
    width: 333px;
    height: auto;
    margin-right: 50px;
    float: left;
}

footer .copyright .footer_logo{
    margin-bottom: 38px;
}

footer .copyright p{
    color: #8d8b8b;
    font-size: 12px;
    letter-spacing: .5px;
    margin-bottom: 15px;
}

footer .copyright p a{
    text-decoration: none;
    font-weight: bold;
    color: #8d8b8b;
}

footer .footer_links{
    width: 717px;
    float: right;
}

footer .footer_links .columns{
    width: 212px;
    float: left;
    margin-right: 40px;
}

footer .footer_links .columns:last-child{
    margin-right: 0;
}

footer .footer_links .columns_title{
    color: #5e5e5e;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 50px;
}


footer .footer_links ul li{
    list-style: none;
    display: block;
    margin-bottom: 30px;
}

footer .footer_links ul li a{
    text-decoration: none;
    color: #8c8b8b;
    font-size: 14px;
    letter-spacing: .5px;

    transition:all .2s linear;
    -o-transition:all .2s linear;
    -moz-transition:all .2s linear;
    -webkit-transition:all .2s linear;
}

footer .footer_links ul li a:hover{
    color: #3c3c3c;
}

footer .sm ul li a:before{
    content:"";
    display: inline-block;
    width: 15px;
    margin-right: 20px;
}

footer .sm ul li .facebook:before{
    height: 14px;
    background: url('../img/fb.png') no-repeat;
    vertical-align: middle;
}

footer .sm ul li .twitter:before{
    height: 15px;
    background: url('../img/twitter.png') no-repeat;
    vertical-align: middle;
}

footer .sm ul li .google:before{
    height: 14px;
    background: url('../img/google.png') no-repeat;
    vertical-align: middle;
}


footer .address p{
    color: #8c8b8b;
    font-size: 14px;
    margin-bottom: 30px;
    letter-spacing: .5px;
}

footer .address .phone{
    display: block;
    font-weight: bold;
}