﻿@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>University</title>

    <link rel="icon" type="image/png" href="/fav.jpg" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/Site.css" rel="stylesheet">

</head>

<body>

    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">University</a>
            </div>
            
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/Groups/">Groups</a>
                    </li>
                    <li>
                        <a href="/Curators/">Curators</a>
                    </li>
                    <li>
                        <a href="/Students/">Students</a>
                    </li>
                    <li>
                        <a href="/Subjects/">Subjects</a>
                    </li>
                    <li>
                        <a href="/Teachers/">Teachers</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <header id="myCarousel" class="carousel slide">
        
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
            <li data-target="#myCarousel" data-slide-to="4"></li>
        </ol>

        <div class="carousel-inner">
            <div class="item active">
                <div class="fill" style="background-image:url('http://placehold.it/1900x1080/000000/ff0000?text=Groups')"></div>
                <div class="carousel-caption">
                    <a href="/Groups"<h2>SHOW</h2></a>
                </div>
            </div>
            <div class="item">
                <div class="fill" style="background-image:url('http://placehold.it/1900x1080/000000/ff0000?text=Curators')"></div>
                <div class="carousel-caption">
                    <a href="/Curators"<h2>SHOW</h2></a>
                </div>
            </div>
            <div class="item">
                <div class="fill" style="background-image:url('http://placehold.it/1900x1080/000000/ff0000?text=Students')"></div>
                <div class="carousel-caption">
                    <a href="/Students"<h2>SHOW</h2></a>
                </div>
            </div>
            <div class="item">
                <div class="fill" style="background-image:url('http://placehold.it/1900x1080/000000/ff0000?text=Subjects')"></div>
                <div class="carousel-caption">
                    <a href="/Subjects"<h2>SHOW</h2></a>
                </div>
            </div>
            <div class="item">
                <div class="fill" style="background-image:url('http://placehold.it/1900x1080/000000/ff0000?text=Teachers')"></div>
                <div class="carousel-caption">
                    <a href="/Teachers"<h2>SHOW</h2></a>
                </div>
            </div>
        </div>

        
        <div class="control_buttons">
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="icon-prev"></span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="icon-next"></span>
            </a>
        </div>

    </header>
</body>

<footer>
    <div class="container">

        <div class="copyright">
            <img src="img/logo-example.jpg" class="footer_logo">
            <p>© 2017 copyright joulis1derful - All rights reserved</p>
        </div>

        <div class="footer_links">

            <!-- Social Media Links  -->
            <div class="sm columns">
                <h3 class="columns_title">Stay Tuned</h3>
                <ul>
                    <li>
                        <a class="facebook" href="#">Facebook</a>
                    </li>
                    <li>
                        <a class="twitter" href="#">Twitter</a>
                    </li>
                    <li>
                        <a class="google" href="#">Google Plus</a>
                    </li>
                </ul>
            </div>

            <!-- About  -->
            <div class="about columns">
                <h3 class="columns_title">About</h3>
                <ul>
                    <li>
                        <a href="#">Our University</a>
                    </li>
                    <li>
                        <a href="#">Our history</a>
                    </li>
                    <li>
                        <a href="#">Blog</a>
                    </li>
                </ul>
            </div>

            <!-- Address  -->
            <div class="address columns">
                <h3 class="columns_title">Address</h3>
                <p>Your city, Your country</p>
                <p class="phone">+38(0xx)00 00 000</p>
            </div>

        </div>

    </div>

</footer>

<script src="~/Content/js/jquery.js"></script>

<script src="~/Content/js/bootstrap.min.js"></script>

<script>
    $('.carousel').carousel({
        interval: 2500
    })
</script>
</html>
