﻿@model University.Models.Group

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Group</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Curator.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Curator.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GroupName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GroupName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StudentsAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentsAmount)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CuratorID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
