﻿@model IEnumerable<University.Models.Group>

@{
    ViewBag.Title = "Index";
}

<h2>Overview</h2>


<table class="table">
    <tr>
        <th>
           Curator
        </th>
        <th>
            Group
        </th>
        <th>
            Amount of students
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Curator.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GroupName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StudentsAmount)
        </td>
        <td>
            <div class="but">
                @Html.ActionLink("Create New", "Create")
            </div>
            <div class="but">
                @Html.ActionLink("Edit", "Edit", new { id = item.CuratorID })
            </div>
            <div class="but">
                @Html.ActionLink("Details", "Details", new { id = item.CuratorID })
            </div>
            <div class="but">
                @Html.ActionLink("Delete", "Delete", new { id = item.CuratorID })
            </div>
        </td>
    </tr>
}

</table>
